{
  "extends": ["react-app", "eslint-config-airbnb"],
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 6
  },
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "autoFix": true,
    "class-methods-use-this": 0,
    "eol-last": 0,
    "func-names": 0,
    "function-paren-newline": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "indent": 1,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-quotes": 0,
    "linebreak-style": 0,
    "new-cap": 0,
    "no-plusplus": 0,
    "no-return-assign": 0,
    "no-trailing-spaces": 1,
    "prefer-promise-reject-errors": 0,
    "quote-props": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": 1,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-tag-spacing": 0,
    "react/no-danger": 0,
    "react/no-unused-prop-types": 1,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "react/self-closing-comp": 1,
    "semi": 1,
    "template-curly-spacing": 0,
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "varsIgnorePattern": "h"
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
