// Font Family
$ff-Arial:        "Arial", Helvetica, sans-serif;

// Font Weight
$fw-light:        300;
$fw-regular:      400;
$fw-bold:         700;

// Font Line Height
$flh-small:       1;
$flh-normal:      1.15;
$flh-large:       1.5;

// Font Sizes
// Paragraphs
$fz-small:        0.9rem;
$fz-normal:       1rem;

// Headers
$fz-h6:           1.1rem;
$fz-h5:           1.15rem;
$fz-h4:           1.25rem;
$fz-h3:           1.75rem;
$fz-h2:           2rem;
$fz-h1:           2.5rem;
