// Layout Variables
$l-space:       10px;
$l-gutter:      $l-space*2;
$l-leading:     $l-space*2;

// Visual Variables
$v-border:      1px solid $c-black;
$v-radius:      2px;
$v-shadow:      0 5px 20px rgba(0, 0, 0, 0.075);

// Transition Timing
$ts-easing:     ease;
$ts-timing:     0.3;
$ts-base:       #{$ts-timing}s $ts-easing;
$ts-quick:      #{$ts-timing/2}s $ts-easing;

// Breakpoints
$small:         420px;
$medium:        768px;
$large:         1024px;
$xlarge:        1440px;
